<!DOCTYPE html>
<html lang="ro">
  <head>
    <meta
      name="keywords"
      content="phone, tablet, samsung, apple, technology, huawei, new phone, newest phone, newest iphone, android, ios, smartwatch, gadgets"
    />
    <meta name="description" content="Official mobile phone retailer." />
    <title>BestPhone - Error</title>
    <link rel="stylesheet" type="text/css" href="resurse/css/eroare.css" />
    <%- include("../fragments/head.ejs"); %>
  </head>
  <body>
    <%- include("../fragments/header.ejs"); %>

    <div id="err-coloane">
      <img id="err-imag" src="<%- locals.imagine %>" alt="imagine eroare">
      <h2> <%- locals.titlu %> </h2>
      <p> <%- locals.text %> Întoarce-te la <a href="/index">pagina principală</a>.</p>
  </div>
</main>

    <%- include("../fragments/footer.ejs"); %>
  </body>
</html>
